.main-navigation {
  @include menu-direction(vertical);
  display: none; 
  
  &.expand {
    display: block;
  }
  
  
  @include breakpoint(medium) { 
    display: block;
    width: auto;
    @include menu-direction(horizontal);
  }
}

#menuToggle {
  @include breakpoint(medium) {
    display: none;
  }
}